*.py[cod]

# C extensions
*.so
.idea/
.idea

# Packages
*.egg
*.egg-info
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# si
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Complexity
output/*.html
output/*/index.html

# Sphinx
docs/_build
docs/source/_build

# Mypy
.mypy_cache/

# Cookiecutter
output/
bower_components
Pipfile.lock
docs/build/
.DS_Store
.venv/
poetry.lock

.noseids
docs/source/api/
/dist/
/dist/*

# VSCode
/.vscode
